{% extends 'clinic/base.html' %}

{% block content %}
{% load static %}


{% endblock %}
<footer class="footer pt-100 img-bg" style="background-image:url({% static 'img/bg/footer-bg.jpg' %});">
        <div class="container">
            <div class="footer-widget-wrapper">
                <div class="row">
                    <div class="col-xl-4 col-lg-5 col-md-6">
                        <div class="footer-widget mb-30">
                            <a href="index.html" class="logo"><img src="{% static 'img/logo/logo.svg' %}" alt=""></a>
                            <p>г. Санкт-Петербург, ул. Гороховая д. 1</p>
                            <div class="footer-social-links">
                                <ul>
                                    <li><a href="https://wa.me/+79531570876"><i class="lni lni-whatsapp"></i></a></li>
                                    <li><a href="https://t.me/+79531570876"><i class="lni lni-telegram"></i></a></li>
                                    <li><a href="https://vk.com/share.php?url=https://vk.com/maksim_gavrilov"><i
                                            class="lni lni-vk"></i></a></li>
                                    <li><a href="https://youtube.com/@user-rq7ls3yz1u"><i
                                            class="lni lni-youtube"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-3 col-md-6">
                        <div class="footer-widget mb-30">
                            <h4>Ссылки</h4>
                            <ul class="footer-links">
                                <li><a href="#">Клиника</a></li>
                                <li><a href="#">Наша команда</a></li>
                                <li><a href="#">Направления</a></li>
                                <li><a href="#">Врачи</a></li>
                                <li><a href="#">Блог</a></li>
                                <li><a href="#">Контакты</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-3 col-md-5">
                        <div class="footer-widget mb-30">
                            <h4>Направления</h4>
                            <ul class="footer-links">
                                <li><a href="#">Аппаратная косметология</a></li>
                                <li><a href="#">Терапевтическая косметология</a></li>
                                <li><a href="#">Пластическая хирургия</a></li>
                                <li><a href="#">Иньекционная косметология</a></li>
                                <li><a href="#">Плазмотерапия</a></li>
                                <li><a href="#">Привентивная косметология</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-12 col-md-7">
                        <div class="footer-widget mb-30">
                            <h4>Мы на карте</h4>
                            <div class="map-canvas">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1998.772941742556!2d30.308081013646884!3d59.93590977480909!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4696311a55996d73%3A0x6401a259cc5d350e!2z0JPQvtGA0L7RhdC-0LLQsNGPINGD0LsuLCAxLCDQodCw0L3QutGCLdCf0LXRgtC10YDQsdGD0YDQsywg0KDQvtGB0YHQuNGPLCAxOTAwMDA!5e0!3m2!1sru!2sus!4v1706431786941!5m2!1sru!2sus"
                                        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright-area">
                <p class="mb-0 text-center">Designed and Developed By <a href="https://uideck.com/"
                                                                         rel="nofollow">UIdeck</a></p>
            </div>
        </div>
    </footer>
    <!-- ========================= footer end ========================= -->


    <!-- ========================= scroll-top ========================= -->
    <a href="#" class="scroll-top">
        <i class="lni lni-arrow-up"></i>
    </a>

    <!-- ========================= JS here ========================= -->
    <script src="{% static 'js/bootstrap.bundle-5.0.0.alpha-min.js' %}"></script>
    <script src="{% static 'js/wow.min.js' %}"></script>
    <script src="{% static 'js/tiny-slider.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>